.navButtonsDiv >h4{
cursor: pointer;
}
.navButtonsDiv >h4:hover{
    color: #bd6f9f;
    }
.mainHeaderDiv {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 3vw;
}
.mainHeaderDiv> .imgDiv {
    width: 30%;

    position: relative;
    left: 6vw;
    top: 1vw;
}
.mainHeaderDiv> .navButtonsDiv {
   margin-right: 5vw;
    color: white;
    width: 50%;
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    background: linear-gradient(109.46deg, rgba(201, 201, 201, 0.8) 1.57%, rgba(196, 196, 196, 0.1) 100%)


}
.mainHeaderDiv> .imgDiv >img {
    width:50%
}
.MobileMenuDiv {
    display: none;
}
.navButtonsDiv >h4 {
    cursor: pointer;
}


@media only screen and (max-width: 1000px) {
    .MobileMenuDiv {
        display: flex;
    }
    .mainHeaderDiv> .navButtonsDiv {
        display: none;
     }
}
