.mainHeaderDiv {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 3vw;
}
.navButtonsDiv{
    display: flex;
}
.mainHeaderDiv> .imgDiv {
    width: 50%;
}
.mainHeaderDiv> .navButtonsDiv {
   margin-right: 5vw;
    color: white;
    width: 50%;
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    background: linear-gradient(109.46deg, rgba(201, 201, 201, 0.8) 1.57%, rgba(196, 196, 196, 0.1) 100%)


}
.imgDiv {
    
    position: relative;
    left: 6vw;
    top: 1vw;

}
.mainHeaderDiv> .imgDiv >img {
    width:30%
}