.valueDrivenMainDiv {

    margin-top: 10%;
    margin-bottom: 15%;
    color: white;
}





.ensuringFutureInnerDiv {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 31%;
    left: 12%;


    /* filter: blur(1px); */
    /* backdrop-filter: blur(84px); */
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 27px;
}

.ensuringFutureInnerDiv2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(109.46deg, rgba(67, 50, 79, 0.8) 1.57%, rgba(67, 50, 79, 0.3) 100%);
    border-radius: 27px;
    height: 80vh;
}

.insuringFutureInnerDiv {
    width: 86%;

    position: relative;
    left: 8%;
    height: 59vh;

    display: flex;
}


@media (min-width: 380px) and (max-width: 500px) {
    .insuringFutureInnerDiv {
        width: 86%;

        position: relative;
        left: 8%;
        height: 90vh;

        display: flex;
    }
}

@media (min-width: 501px) and (max-width: 800px) {
    .insuringFutureInnerDiv {
        width: 86%;

        position: relative;
        left: 8%;
        height: 71vh;

        display: flex;
    }
}