.overly-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  background: linear-gradient(
    109.46deg,
    rgba(201, 201, 201, 0.3) 1.9%,
    rgba(196, 196, 196, 0.1) 100.33%
  );
  opacity: 0.6;
  backdrop-filter: blur(84px);
  border-radius: 27px;
  display: flex;
  z-index: 10;
}
.overlay_content_inner {
  align-self: center;
  padding: 0 50% 0 5% !important;
}
.overlay_paragraph {
  font-size: 18px;
  margin-bottom: 5% !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Media quries */
@media screen and (max-width: 480px) {
  .overlay_paragraph {
    font-size: 12px;
  }
  .overlay_content_inner {
    align-self: center;
    padding: 0 0 0 3% !important;
  }
}
