.valueDrivenMainDiv {
    margin-top: 14%;
    color: white;
}
.grid1ValueDriven {
    position: relative;
    left: 15%;
}
.grid2ValueDriven {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid2ValueDriven >img {
    width: 48%;
}
